# Source GitLab Configuration
OLD_GITLAB_URL=https://gitlab.old-domain.com
OLD_GITLAB_TOKEN=your_old_gitlab_personal_access_token
OLD_GITLAB_SSH_HOST=gitlab.old-domain.com
OLD_GITLAB_SSH_PORT=22

# Target GitLab Configuration
NEW_GITLAB_URL=https://gitlab.new-domain.com
NEW_GITLAB_TOKEN=your_new_gitlab_personal_access_token
NEW_GITLAB_SSH_HOST=gitlab.new-domain.com
NEW_GITLAB_SSH_PORT=22

# Optional Configuration
# Set this to a Group ID on the new GitLab instance if you want all migrated projects to be placed under a specific group instead of the root namespace
TARGET_PARENT_GROUP_ID_ON_NEW_FOR_ALL=


# # Old Local GitLab Instance
# OLD_GITLAB_URL="http://0.0.0.0"
# OLD_GITLAB_TOKEN="" # Admin token for creation
# OLD_GITLAB_SSH_HOST="0.0.0.0"
# OLD_GITLAB_SSH_PORT="23"

# # New AWS GitLab Instance
# NEW_GITLAB_URL="http://0.0.0.0"
# NEW_GITLAB_TOKEN="" # Admin token for creation
# NEW_GITLAB_SSH_HOST="0.0.0.0"
# NEW_GITLAB_SSH_PORT="23"

# # Optional: If you have a specific user token for reading from the new instance (if different from admin)
# # NEW_GITLAB_READ_TOKEN="your_new_gitlab_read_token"

# FLASK_APP="app.py"
# FLASK_ENV="development" # Change to "production" for deployment